$bar-secondary: #004780;
$bar-primary: #1A73BA;
$app-bg: #f1f1f1;
$header-tab-color: #FFFFFF;
$primary-tab-active-bg: #004780;
$header_tab_radius: 10px;
$table-thead-bg: #666;
$about-bg : #feee96;

$intro-bg : #82c552;
$intro-bg-img: '/media/images/dw_intro_bg.gif';
$header-bg: #aab;
$public-header-login-bg: #aab;

$header-logo: '/media/images/dcs_logo.png';
$app-bg-img: "/media/images/application_bg_dcs.png";


body{
    background: $app-bg;
}

