@import "_main";
#action_button, .action_button {
  .btn {
    font-family: $app-font;
    background: $button-color;
    color:  $button-text-color;
    display:inline-block; /* IE is so silly */
  }
.btn:hover {
  background: $button-color;
}
.btn-group.open .btn.dropdown-toggle {
  background: $button-color;
}
.btn-group .btn.dropdown-toggle{
  margin-right: 20px;
}
.ui-state-default {
  font-weight: normal;
}

  }

#action_menu {
  width: 100px; }
#action_menu ul {
  min-width: 300px;
  border-radius: 0px; }
#action_menu LI > A:hover,
#action_menu LABEL:hover {
  //background-color: #E6F0F5;
  background-color: #94D1FF;
  color: #000;
  font-weight: normal;
  cursor: pointer; }

ul li.disabled{
  background-color: #dddddd;
  &:hover{
    background-color: #ffffff !important;
    color: #aaaaaa !important;
  }
  a{
    cursor: default !important;
    background-color: #ffffff !important;
    color: #aaaaaa !important;
    span.info{
      font-size: 11px;
      font-style: italic;
    }
  }
}

div.dropdown-panel{
  font-family: tahoma, arial, helvetica, sans-serif;
  font-style: italic;
  font-size: 16px;
  color: #8a7f7f;
}