article.paper {
  .disabled-state{
      background-image: none !important;
  }

  border: 1px solid #CCC;
  h3, h4, span, legend {
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
  }
  h3, h4 {
    color: #222222;
    padding: 0 0 10px 0;
    text-align: left;
  }
  h3 {
    font-size: 21px;
  }
  h4, legend {
    font-size: 17px;
  }
  span.repeat-number {
    color: #333333;
  }
  section.or-repeat {
    background-color: #f1f1f1;
    margin-right: 18px;
    margin-bottom: 18px;
  }
  .question:not(.or-appearance-label):not(.or-appearance-compact):not(.or-appearance-quickcompact) label input[type="checkbox"]:checked ~ .option-label:before,
  .question:not(.or-appearance-label):not(.or-appearance-compact):not(.or-appearance-quickcompact) label input[type="radio"]:checked ~ .option-label:before {
    color: #AFCCFF;
  }
  .enketo-power {
    font-size: 7px;
    img {
      width: 40px;
    }
  }
  .note {
    color: #333333;
    border: 0;
    background-color: #E8EFF6;
    font-style: italic;
  }
  section.or-group, section.or-group-data{
    border: 1px solid #CCC;
    background: #F1F1F1;
    padding-left: 18px;
  }
  .option-wrapper > label:hover:not(.filler) {
    background-color: #CCDFED;
  }
}

#cancel-link{
  margin-right: 13px;
}

#submission-action-section{
  align-self: center;
}
.editField {
  border-color: #646464 #EBEBEB #EBEBEB #646464 !important;
  height: 25px !important;
  width: 350px !important;
}

.geopicker {
  .btn-remove , .toggle-input-btn{
    display: none;
  }
}

.geopicker .btn[name="geodetect"]:not(.close-chain-btn){
  display: none;
}

.form-footer .disabled{
    display: none;
}