@import "_main";
@import "form";

#container_header_wizard {
  height: 37px;
  overflow: hidden;
}

#container_header_application {
  overflow: hidden;
  background: $bar-secondary;
}

.container_header_application1 {
  overflow: hidden;
  background: $bar-primary;
}

.primary_bg {
  background: $bar-primary;
}

#container_content, #container_wizard {
  overflow: hidden;
  min-height: 600px;
  background: $app-bg;
  padding-bottom: 30px;
  .content {
    clear: both;
    min-height: 550px;
    background: #FFFFFF;
    border: 0px solid #cccccc !important;
    padding: 25px;
    overflow: auto;
  }
  .wizard_content {
    margin-top: 50px;
    padding: 0px;
    .wizard {
      border: 1px solid #d4972d;
      height: 140px;
      margin: 10px;
      background: url(/media/images/wizard_bg.gif) repeat-x top left;
    }
    .content_wrapper {
      padding: 20px 10px 20px 40px;

    }
  }
  #page_title {
    min-height: 35px;
    padding:0px 0 0px 0;
    width: 950px;
    border-radius: 1px solid red;
    margin: 0 auto;
    font-size: 24px;
    font-weight: bold;
    color: $page-title-color;
    span.project_title {
      font-size: 22px;
      width: 500px;
      color: $page-title-color;
      .editFieldWrapper {
        .editFieldSaveControllers {
          display: inline;
          text-transform: none;
          button {
            @extend .button;
            height: auto;
            padding: 0px 8px;
            margin: 0 12px;
          }
        }
        input.editField {
          display: inline;
          border: 1px solid #ccc;
          border-radius: 4px;
          width: 257px;
          line-height: 1.42857143;
          padding-left: 5px;
        }
      }
      .editFieldCancel {
        font-size: 12px;
      }
    }
    .project_detail {
      padding-bottom: 0px;
      font-size: 12px;
      .project_status {
        margin-right: 5px;
      }
    }
  }
}

.sms_tester {
  border-left: 0px !important;
  padding-left: 0px !important;
}

.table_container {
  width: 910px;
  overflow-x: auto;
  margin-bottom: 30px;
  clear: both;
  .styled_table {
    margin-bottom: 0;
  }
}

table.styled_table {
  width: 100%;
  margin-bottom: 30px;
  thead {
    height: 40px;
    background-color: $table-thead-bg;
    th {
      color: $table-thead-font-color;
      font-size: 15px;
      text-align: center;
      vertical-align: middle;
    }
    .name_column {
      width: 460px;
    }
  }
}

table.error_table {
  td {
    color: #FF0000;
  }
}

#users_list table thead th:first-child {
  padding: 6px;
  width: 21px;
}

#main_message > div {
  width: 900px !important;
  margin-left: 5px;
}
.project_title_div>.isEditing + .project_rename{
  display: none !important;
}
.project_title_div{
  width: 100%;
  .project_rename {
      font-size: 12px;
  }
}

 .title_action {
    padding-left: 5px;
    padding-bottom: 8px;
  }

.editFieldSaveControllers .error{
   display: none;
   .message{
    background-color: #C20303;
    border: 0px none transparent;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    padding: 5px 10px;
  }
  .error_arrow_left{
//    background: url("/media/images/arrow_error.png") no-repeat scroll left 11px rgba(0, 0, 0, 0);
    display: inline-block;
  	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;

	border-right:6px solid #C20303;
  }
}
#on_behalf_of_error {
      background: #c20303;
      padding: 3px 10px 3px 10px;
      /*border:1px solid black;*/
      -moz-border-radius: 5px;
      -webkit-moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      background: #c20303;
      padding-bottom: 20px!important;
}
