@import "_main";

#header{
  .logo{
    text-align:left;
    color:#FFFFFF;
    font-size:24px;
    .logo_data{
        font-weight:bold;
    }
    .logo_winners{
        font-weight:normal;
    }
  
    a{
        color:#FFFFFF;
        text-decoration:none;
        :hover{
            text-decoration:underline;
        }
    }
  }
  a.active{
    color: #0070AC !important;
  }
}

#container_header_application{
    #container_header_wizard{
        background:none;
        height:30px;
    #header{
        .login{
            margin-top:5px;
            color: $header-tab-color;
            font-size:12px;
            span{
                display:inline;
                padding:1px 15px 0px;
                margin-top:4px;
                border-right:1px solid #474747;
                a{
                    color: $header-tab-color;
                }
            }
            .help{
                color:#C1C1C1;
            }
        }
    }

    }
    #main_tab{
        background: $bar-primary;
        text-align:right;
        float:left;
        width:100%;
        .logo{
            padding-top:10px;
            margin-right:6px;
            img{
                float:left;
            }
        }
        ul{
            float:right;
            position:relative;
            display:inline;
            li{
                padding:10px 10px 10px 10px;
                float:left;
                label{
                    font-size:14px;
                    color: #feea89;
                    font-weight:bold;
                }
                a{
                    font-size:14px;
                    color: $header-tab-color;
                }

                &.active{
                    a{
                        padding-bottom: 7px;
                        border-bottom: 5px solid $primary-tab-active-bg; /* for non-css3 browsers */
                    }

                }
            }
            li.last{
                padding-right:0;
            }
        }

    }
}


#ie8-warning {
  position: absolute;
  top: 63px;
  left: 348px;
  z-index: 1000;
  padding-left: 27px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  background: url("/media/images/icons.png") no-repeat left -82px;
  background-color: lightblue;
  font-size: 15px;
  margin: 3px;
  border: 1px solid rgb(85,172,238);
}

.ie8-warning-fr{
  left: 175px !important;
}
