@import "_main";
$font_family:"Arail";

.tab_navigation{
    ul{
        background: $table-thead-bg;
        li{
            float:left;
            padding:7px 13px 8px;
            position:relative;
            margin-top:10px;
            a{
                color:$table-thead-font-color;
                text-decoration:none;
                font-size:14px;
            }
        }
        li.active{
            background:#FFFFFF;
            padding-top:5px;
            top:1px;
            border:1px solid #ccc;
            border-bottom:1px solid #fff;
            border-radius: 6px 6px 0px 0px ;
            a{
                color:$table-thead-font-color;
            }
        }
    }
}

.secondary_tab{
    position:relative;
    top:-20px;
    left:-35px;
    margin-left:20px!important;
    float:left;
    height:40px;
    width:910px;
    background:#f0f0f0;
    li{
        float:left;
        padding:3px 20px 14px;
        position:relative;
        margin-top:7px;
        a{
            color:#0070ac;
            text-decoration:none;
            font-size:14px;
        }
    }
    li.active{
        background: white;
        margin-top:3px;
        padding-top:3px;
        top:1px;
        a{
            color:#000;
        }
    }
}