$public_body_bg: none;
$intro-bg : #82c552;
$intro-bg-img: '/media/images/dw_intro_bg.gif';

$about-bg : #aaa;
$header-bg: #aab;
$public-header-login-bg: #aab;
$header-logo: '/media/images/dcs_logo.png';
$app-bg-img: "/media/images/application_bg_dcs.png";
$app-bg: #fff;
$header-app-bg: '/media/images/hedaer_app_bg_dcs.png';
$nav-active:#653E06;
$nav-tab-bg-img: "/media/images/dcs_tab_bg.png";
$header_tab_radius: 10px;
$sec-nav-boder: 1px solid #ccc;

body{
    background: none repeat scroll 0 0 #fff;
}

