{% load i18n %}
<div>

    <div class="main">
        <article class="paper" >
            <div class="ajax-loader"><img src="/media/images/ajax-loader.gif"/>
            <span class="loading">{% trans "Just a moment..." %}</span></div>

            <header class="form-header clearfix">
                <span class="form-language-selector"><span>Choose Language</span></span>
            </header>


            <div class="form-footer">
                    <!--
                    Used some quick-and-dirty inline CSS styles here because the form-footer should be styled in the
                    mother application
                    -->
                <div style="text-align: center">
                    <a href="#" class="btn btn-primary previous-page disabled">Back</a>
                    <button id="validate-form" class="btn btn-primary">Submit</button>
                    <a href="#" class="btn btn-primary next-page disabled">Next</a>
                </div>

                <div class="enketo-power" style="margin-bottogirm: 30px;">Powered by <a target="_blank" href="http://enketo.org" title="enketo.org website"><img src="https://enketo.org/images/enketo_bare_100x37.png" alt="enketo logo" /></a> </div>

                <a href="#" class="btn btn-default disabled first-page" style="width: 49.7%; border-radius: 0;">Return to Beginning</a>
                <a href="#" class="btn btn-default disabled last-page" style="width: 49.7%; border-radius: 0;">Go to End</a>
            </div>

        </article>
    </div>
    <div id="cancel_submission_warning_message" style="display: none;">
        {% trans "Do you want to save the changes before leaving this page?" %}<br/>

        <p class="font_size_13">{% trans "Your changes will be lost if you don't save them." %}</p>

        <div class="text_align_right padding_top_20">
            <a id="cancel_dialog" href="javascript:void(0);">{% trans "Cancel" %}</a>
            <a id="ignore_changes" class="button_blue no_button">{% trans "Don't Save" %}</a>
            <a id="save_changes" class="button yes_button">{% trans "Save" %}</a>
        </div>
    </div>

</div>