{% extends 'project/tab_navigation.html' %}
{% load i18n %}

{% block page_title %}{% trans "Correlate Forms" %} {% endblock %}

{% load dw_tabs %}

{% block navigation %}
    {% activetab "tab_nav" "correlate" %}
    {{ block.super }}
{% endblock %}

{% block body %}
    {% activetab "main_nav" "correlate" %}
    {{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_questionnaire.css" rel="stylesheet"/>
    <link href="/media/css/scss/section_new_create_project.css" rel="stylesheet"/>
    <link href="/media/css/scss/smart_phone_instruction.css" rel="stylesheet" />
    <style type="text/css">
        .correlated_forms ul>li>label {
            width: 100% !important;
        }
    </style>
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript">
        var project_id = "{{ project_id }}"
    </script>

{% endblock %}

{% block content %}
    <div>
        <div class="grid_8 alpha">
            <h2>{% trans "Correlate Forms" %}</h2>
        </div>
        <div class="clear-both"></div>
    </div>

    <div>
        {% if is_eligible_child %}
            <h5 class="margin_top_15">Select master/parent form to correlate</h5>
            <p class="margin_top_15">Forms that don't have groups or fields and are not parent/master of other forms are listed below.
            <br />Selected form should have at least one question name common with current form. Please ensure that common field is not part of group or repeat question.</p>
            {% if message %}
               <div id="flash-message" class="{% if success %}success-message-box{% else %}message-box{% endif %}">
                   {{ message }}
               </div>
            {% endif %}
            <div class="margin_top_15"></div>
            <form action="{% url correlate_link project_id %}" method="post" class="correlated_forms">{% csrf_token %}
                <p class="margin_bottom_10"><input class="button" type="submit" value="Correlate" /></p>
                {% for field in correlation_form %}
                    <p>{{ field }}</p>
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </form>
        {% else %}
            <h5 class="margin_top_15">This form is already parent/master of another form.</h5>

        {% endif %}
    </div>

{% endblock %}
