{% load i18n %}
<link href="/media/javascript/data_tables/css/dwtable.css" rel="stylesheet"/>
{% load compress %}
{% compress js %}
    <script type="text/javascript" src="/media/javascript/jquery-dropdown/jquery.dropdown.js"></script>
    <script type="text/javascript" src="/media/javascript/warning_dialog.js"></script>
    <script src="/media/javascript/data_tables/js/jquery.dataTables.min.js"></script>
    <script src="/media/javascript/data_tables/js/dw_pagination_plugin.js"></script>
    <script src="/media/javascript/data_tables/js/dwtable.js"></script>
    <script>
        var project_guests_ajax_url = "{{ project_links.project_guests }}";
        var project_id = "{{ project.id }}";
    </script>
{% endcompress %}

<div id="message_text" style="display: none">
</div>

<div>
    <input type="text" value="{{ project.id }}" class="none" id="project_id"/>
    <table id='guest_table' >
        <thead>
            <th></th>
            <th class="name">{% trans "Id" %}</th>
            <th class="name">{% trans "Name" %}</th>
            <th>{% trans "Email address" %}</th>
            <th>{% trans "Status" %}</th>
        </thead>
    </table>
</div>

<div id="warning_dialog_delete" style="display:none;">
    <div class="warning_message">
        {% trans "Selected guest(s) will be deleted.<br/>This action cannot be undone." %}
        <br/><br/>
        {% trans "Are you sure you want to continue?" %}
    </div>
    <div class="text_align_right">
        <a class="no_button cancel_link">{% trans "Cancel" %}</a>
        <a id="ok_button" class="button yes_button">{% trans "Continue" %}</a>
    </div>
</div>

<div id="warning_dialog" style="display:none;">
    <div class="warning_message">
        {% trans "Email with survey request link/url will be send to selected guest(s).<br/>This action cannot be undone." %}
        <br/><br/>
        {% trans "Are you sure you want to continue?" %}
    </div>
    <div class="text_align_right">
        <a class="no_button cancel_link">{% trans "Cancel" %}</a>
        <a id="ok_button" class="button yes_button">{% trans "Continue" %}</a>
    </div>
</div>