{% extends 'layout_public_survey.html' %}
{% load i18n %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/xform.css" rel="stylesheet"/>
{% endblock %}

{% block page_js %}
    {{ block.super }}
    <script type="text/javascript">
    $(document).ready(function() {
        // removing the success message delayed fade-out
        $('.success-message-box').stop(true, true);
    });
    </script>
{% endblock %}


{% block questionnaire %}
    <div class="questionnaire-header">
        {% for message in messages %}
            <div class="{{ message.tags }}-message-box message-box">{{ message }}</div>
        {% endfor %}
    </div>
    <div style="text-align: center; margin-top: -15px">
        <img src="/media/images/awayday-logo.png" alt=""/>
    </div>
{% endblock %}
