/***********/
 /** COMPAT **/
 /***********/

 /*reset styles to sanity */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

/* set 1em to 10px */
.xformDesigner
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    line-height: 1;
}

/************/
 /** WIDGETS **/
 /************/

.modal
{
    background-color: #fff;
    -moz-box-shadow: 0 0 1em #222;
    -webkit-box-shadow: 0 0 1em #222;
    color: #333;
    display: none;
    left: 50%;
    margin-left: -30em;
    padding: 2em;
    position: fixed;
    top: 17%;
    width: 60em;
}
.modal.shown
{
    display: block;
    z-index: 3000;
}

.modal h3
{
    color: #999;
    font-size: 2.5em;
    margin-bottom: 0.7em;
}
.modal h4
{
    font-size: 1.3em;
    margin-top: 1em;
}

.modal .warningMessage
{
    color: #a20f0f;
    font-size: 1.1em;
    font-weight: bold;
    margin: 0.3em
}

.modal p
{
    font-size: 1.2em;
    padding-bottom: 1em;
}
.modal .modalContents
{
    margin: 0 1.5em 1em;
}
.modal .modalButtonContainer
{
    margin-top: 1.5em;
}
.modal .modalButton
{
    color: #666;
    font-size: 1.3em;
    letter-spacing: -1px;
    padding: 0.5em;
}
.modal .modalButton:hover
{
    background-color: #f0f0f0;
}

.modal .modalLoadingOverlay
{
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.7);
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
}
.modal .modalLoadingOverlay .loadingSpinner
{
    background: transparent url(/media/images/loading.gif) no-repeat;
    display: block;
    height: 19px;
    left: 50%;
    margin-left: -110px;
    margin-top: -10px;
    position: relative;
    text-indent: -9999px;
    top: 8em;
    width: 220px;
}

#templates
{
    display: none;
}

/*form label*/
/*{*/
    /*display: block;*/
    /*height: 25px;*/
    /*font-size: 1.2em;*/
    /*line-height: 25px;*/
    /*margin-bottom: -25px;*/
/*}*/
/*form input*/
/*{*/
    /*margin-bottom: 0.5em;*/
    /*margin-left: 7em;*/
/*}*/


/************/
 /** GENERAL **/
 /************/

.h1, .h2, .h3, .h4, .h5, .h6
{
    color: #444;
    font-weight: normal;
    letter-spacing: -1px;
}

.h3
{
    font-size: 1.4em;
}

a
{
    color: #4e647b;
    text-decoration: none;
}

ul
{
    list-style-type: none;
}

/***********/
 /** LAYOUT **/
 /***********/

.xformDesigner
{
    background: #f3f3f3 url(/media/images/bg_slice.png) repeat-x top;
    overflow: hidden;
}

.xform_header
{
    padding: 2em;
}
.xform_header h1
{
    display: inline-block;
}
.xform_header #renameFormField
{
    color: #444;
    display: none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 2em;
    letter-spacing: -1px;
}
.xform_header #editTitleLink
{
    color: #666;
    text-transform: lowercase;
}
.xform_header ul.menu
{
    background: transparent url(/media/images/vert_bar.png) no-repeat left top;
    display: inline-block;
    margin-left: 2em;
    padding-left: 0.5em;
}
.xform_header ul.menu li
{
    display: inline-block;
    margin-left: 1em;
}
.xform_header ul.menu > li > span
{
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-size: 1.4em;
    letter-spacing: -1px;
    padding: 0.5em;
}
.xform_header ul.menu li:hover,
.xform_header ul.menu li.open
{
    background-color: #f0f0f0;
}
.xform_header ul.menu li ul.submenu
{
    background-color: #f0f0f0;
    display: none;
    padding: 0.2em;
    position: absolute;
    z-index: 50;
}
.xform_header ul.menu li ul.submenu li
{
    display: block;
    margin-bottom: 0.3em;
    margin-left: 0;
}
.xform_header ul.menu li ul.submenu li.divider
{
    border-top: 1px solid #ddd;
}
.xform_header ul.menu li ul.submenu li.infoText
{
    color: #777;
    font-size: 1.1em;
    letter-spacing: -1px;
    padding: 0.4em;
}
.xform_header ul.menu li ul.submenu li a
{
    color: #444;
    display: block;
    font-size: 1.3em;
    letter-spacing: -1px;
    padding: 0.6em;
    padding-right: 3em;
}
.xform_header ul.menu li ul.submenu li.disabled a
{
    color: #888;
}
.xform_header ul.menu li ul.submenu li a:hover
{
    background-color: #fff;
}
.xform_header ul.menu li ul.submenu li.disabled a:hover
{
    background-color: transparent;
    cursor: default;
}
.xform_header ul.menu li ul.submenu li.checkbox span.icon,
.xform_header ul.menu li ul.submenu li.radio span.icon
{
    display: inline-block;
    height: 15px;
    margin-right: 0.5em;
    position: relative;
    top: 0.2em;
    width: 15px;
}
.xform_header ul.menu li ul.submenu li.checkbox.selected a span.icon,
.xform_header ul.menu li ul.submenu li.radio.selected a span.icon
{
    background: transparent url(/media/images/glyphs.png) 0 -75px;
}

.xform_header .accountStatus
{
    font-size: 1.4em;
    letter-spacing: -1px;
    position: absolute;
    right: 2em;
    top: 2em;
}

.toolPalette
{
    bottom: 0em;
    left: 1em;
    user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    position: absolute;
    width: 900px;
}
.toolPalette h3
{
    background: transparent url(/media/images/add_new.png) no-repeat;
    display: inline-block;
    margin-right: 0.5em;
    padding-left: 18px;
}
.toolPalette ul
{
    display: inline-block;
}
.toolPalette ul li
{
    display: inline-block;
    font-size: 1.1em;
    letter-spacing: -1px;
    margin-left: 0.5em;
}
.toolPalette ul li.separator
{
    width: 1em;
}
.toolPalette ul li a
{
    cursor: pointer;
    padding: 0.5em;
}
.toolPalette ul li a:hover
{
    background-color: #4e647b;
    color: #f3f3f3;
}
.toolButton.ui-draggable-dragging
{
    display: block;
    text-indent: -9999px;
}

.workspaceScrollArea
{
    background-color: #e8e8e8;
    bottom: 3em;
    left: 0.5em;
    overflow-y: auto;
    padding: 1em;
    position: absolute;
    right: 1em;
    top: 6em;
}
.workspace
{
    user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    padding-bottom: 300px;
}

.workspaceInnerWrapper
{
    background: transparent url(/media/images/group_bg.png);
    padding: 1em;
}
.workspaceInner
{
    min-height: 6em;
    padding-bottom: 3em;
}

.control
{
    margin-bottom: 1.5em;
    position: relative;
}
.collapsed .control
{
    margin-bottom: 0.8em;
}
.control .controlInfo
{
    background: #777 url(/media/images/control_slice.png) repeat-x bottom;
    padding: 6px;
}
.collapsed .control .controlInfo
{
    min-height: 24px;
}
.control .controlInfo .typeIcon
{
    margin: 0.5em;
    margin-right: 2em;
    position: absolute;
}
.collapsed .control .controlInfo .typeIcon
{
    margin: 0;
    margin-right: 1.5em;
}
.control .controlInfo .deleteControl
{
    background: transparent url(/media/images/glyphs.png) no-repeat;
    height: 16px;
    position: absolute;
    text-align: left;
    text-indent: -9999px;
    right: 0.4em;
    width: 16px;
}
.control .controlInfo .controlHeadline
{
    margin-left: 80px;
}
.collapsed .control .controlInfo .controlHeadline
{
    margin-left: 35px;
    padding-top: 0.2em;
}
.collapsed .control .controlInfo .controlHeadline h4
{
    font-size: 1.7em;
}
.control .controlInfo .controlLabel
{
    color: #f3f3f3;
    display: inline;
    font-size: 2em;
    padding-top: 0.4em;
}
.control .controlInfo .controlHint
{
    color: #bbb;
    display: inline;
    font-size: 1.4em;
}
.control .controlInfo .controlName
{
    color: #bbb;
    font-size: 1.4em;
    margin-left: 80px;
}
.collapsed .control .controlInfo .controlName
{
    display: none;
}
.control .controlInfo .controlProperties
{
    color: #bbb;
    font-size: 1.1em;
    margin-top: 1.4em;
    margin-left: 80px;
}
.control .controlInfo .controlProperties li
{
    display: inline-block;
    margin-right: 1.5em;
    text-transform: lowercase;
}
.collapsed .control .controlInfo .controlProperties
{
    display: none;
}
.control.group .groupFooter
{
    background: transparent url(/media/images/control_arrow_tint.png);
    height: 1em;
}
.control .controlFlowArrow
{
    height: 28px;
    left: 50%;
    margin-left: -14px;
    position: absolute;
    width: 28px;
    z-index: 1;
}
.collapsed .control .controlFlowArrow
{
    height: 16px;
    margin-left: -8px;
    width: 16px;
}
.control .controlFlowArrow .slice
{
    background: #777 url(/media/images/control_arrow_tint.png) repeat-x;
}
.control:hover > .controlInfo,
.control:hover > .controlFlowArrow .slice
{
    background-color: #888;
}
.control.selected > .controlInfo,
.control.selected > .controlFlowArrow .slice
{
    background-color: #ab842c;
}
.control.group > .controlInfo,
.control.group > .controlFlowArrow .slice,
.control.group > .groupFooter
{
    background-color: #607a60;
}
.control.group:hover > .controlInfo,
.control.group:hover > .controlFlowArrow .slice,
.control.group:hover > .groupFooter
{
    background-color: #6f8d6e;
}
.control.group.selected > .controlInfo,
.control.group.selected > .controlFlowArrow .slice,
.control.group.selected > .groupFooter
{
    background-color: #73823f;
}
.control.error > .controlInfo,
.control.error > .controlFlowArrow .slice,
.control.error > .groupFooter
{
    background-color: #a20f0f;
}
.control.error:hover > .controlInfo,
.control.error:hover > .controlFlowArrow .slice,
.control.error:hover > .groupFooter
{
    background-color: #c34141;
}
.control.ui-draggable-dragging
{
    z-index: 5;
}
.xformDesigner > .control.last .controlFlowArrow,
.workspace .control:last-child > .controlFlowArrow
{
    display: none;
}

.placeholder
{
    background: #777;
    height: 88px;
    margin-bottom: 1.5em;
    opacity: 0.4;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";  thank you msft
    filter: alpha(opacity=40);
    position: relative;
    text-indent: -9999px;
}
.placeholder .flowArrow
{
    height: 28px;
    left: 50%;
    margin-left: -14px;
    position: absolute;
    top: 88px;
    width: 28px;
    z-index: 1;
}
.placeholder .flowArrow .slice
{
    background-color: #777;
}
.workspace > .placeholder:last-child .flowArrow
{
    display: none;
}

.placeholder.hidden
{
    background: none;
}

.propertiesPane
{
    bottom: 0.5em;
    overflow-y: auto;
    position: absolute;
    right:-25em;
    top: 6em;
    width: 321px;
    height: 586px;
}

.propertiesPane .propertyList li
{
    margin-top: 0.8em;
}
.propertiesPane .propertyList li:hover
{
    background-color: #eee;
}
.propertiesPane .propertyList li.error
{
    background-color: #fbeeee;
}
.propertiesPane .propertyList li.error h4
{
    color: #a20f0f;
}
.propertiesPane .propertyList li li,
.propertiesPane .propertyList .optionsEditorValueField
{
    margin-left: 0.5em;
}
.propertiesPane .propertyList li.advanced
{
    border-top: 1px dashed #888;
    padding-top: 0.5em;
}
.propertiesPane .propertyList li.emptyData
{
    color: #999;
    font-size: 1.2em;
    margin-top: 10em;
    text-align: center;
}
.propertiesPane .propertyList li h4
{
    font-size: 1.3em;
}
.propertiesPane .propertyList li a.optionsEditorLink
{
    float: right;
    padding: 0.2em;
    text-transform: lowercase;
}
.propertiesPane .propertyList li p
{
    color: #666;
    font-size: 0.9em;
    padding: 0.2em 0 0.3em;
}
.propertiesPane .propertyList input[type="text"]
{
    width: 21em;
}
.propertiesPane .propertyList li .bool label
{
    color: #444;
    font-size: 1.3em;
    letter-spacing: -1px;
}
.propertiesPane .propertyList li .bool p
{
    padding-left: 2.7em;
}
.propertiesPane .propertyList li .numericRange h5,
.propertiesPane .propertyList li .numericRange input[type="text"],
.propertiesPane .propertyList li .numericRange .inclusive
{
    margin-left: 2.2em;
}
.propertiesPane .propertyList li h5
{
    font-size: 1.1em;
}
.propertiesPane .propertyList li.advanced a.toggle
{
    color: #444;
    font-size: 1.4em;
    letter-spacing: -1px;
}

.propertiesPane .propertyList li .addOption
{
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-top: 0.5em;
    padding: 0.5em;
}
.propertiesPane .propertyList li .removeOption
{
    background: url(/media/images/glyphs.png) no-repeat scroll 0 -45px transparent;
    display: inline-block;
    float: right;
    height: 16px;
    margin-left: 0.6em;
    text-align: left;
    text-indent: -9999px;
    width: 16px;
}
.propertiesPane .propertyList li .uiText:hover .removeOption
{
    background-position: 0 -60px;
}
.propertiesPane .propertyList li .errorList li
{
    color: #a20f0f;
}

.propertiesPane .propertyList li.advanced .icon
{
    background: transparent url(/media/images/glyphs.png) no-repeat 0 -15px;
    float: right;
    height: 15px;
    width: 15px;
}
.propertiesPane .propertyList li.advanced .expanded .icon
{
    background-position: 0 -30px;
}

/***********/
 /** MODALS **/
 /***********/


.exportDialog .exportCodeContainer
{
    max-height: 30em;
    overflow: auto;
}
.exportDialog #downloadFrame
{
    height: 1px;
    overflow: hidden;
    width: 1px;
}

.optionsEditorDialog .presetsLabel
{
    font-size: 1.2em;
}
.optionsEditorDialog .presetsButtonContainer
{
    display: inline-block;
    margin: 0.4em;
}
.optionsEditorDialog .optionsHeaderContainer
{
    overflow: hidden;
    height: 1.3em;
    margin-top: 0.3em;
}
.optionsEditorDialog .optionsHeader li
{
    display: block;
    float: left;
    font-size: 1.1em;
    font-weight: bold;
    width: 13.636em;
}
.optionsEditorDialog .optionsContainer
{
    margin-top: 0.2em;
    min-height: 5em;
    max-height: 30em;
    overflow-x: auto;
    overflow-y: auto;
    padding-bottom: 1.2em;
}
.optionsEditorDialog .optionsBody
{
    background: transparent url(/media/images/alternating_rows.png);
    border-top: 1px solid #c7c7c7;
    border-left: 1px solid #c7c7c7;
    margin-top: 0.2em;
}
.optionsEditorDialog .optionsBody li
{
    display: block;
    float: left;
    width: 15em;
}
.optionsEditorDialog .optionsBody li input
{
    background: transparent;
    border: none;
    display: block;
    font-size: 1.2em;
    line-height: 16px;
    margin-bottom: 4px;
    outline: none;
    padding: 0;
    width: 12.5em;
}
.optionsEditorDialog .optionsBody li input:last-child
{
    margin-bottom: 2px;
}

.translationsDialog .addTranslation
{
    margin-left: 0.8em;
}
.translationsDialog .translationList li
{
    font-size: 1.1em;
    padding: 0.3em;
    width: 20em;
}
.translationsDialog .translationList li .removeTranslation
{
    float: right;
}

.narrowModal
{
    margin-left: -20em;
    width: 40em;
}

.errorMessage p
{
    color: #f00;
}

.loadingScreen
{
    background-color: #fff;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
}
.loadingScreen .loadingMessage
{
    height: 10em;
    left: 50%;
    margin-left: -11em;
    margin-top: -5em;
    position: absolute;
    top: 50%;
    width: 22em;
}
.loadingScreen h1
{
    color: #888;
    padding-left: 0.333em;
}
.loadingScreen h1 strong
{
    color: #444;
    font-weight: normal;
}
.loadingScreen h1 sup
{
    font-size: 0.8em;
    vertical-align: super;
}
.loadingScreen p
{
    color: #555;
    padding-left: 0.8em;
}
.loadingScreen .loadingBar
{
    background: transparent url(/media/images/loading.gif) no-repeat;
    display: block;
    height: 19px;
    margin-left: 0.2em;
    text-indent: -9999px;
    width: 220px;
}

/***********    */
 /** SPRITES **/
 /************/

.toolButton .typeIcon,
.control .typeIcon
{
    background: transparent url(/media/images/type_icons.png) no-repeat;
    height: 64px;
    width: 64px;
}
 /*grouping/branching go first due to precedence+nesting*/
.group .typeIcon           { background-position: 0 -448px; }
.branch .typeIcon          { background-position: 0 -512px; }
.inputText .typeIcon       { background-position: 0 0px; }
.inputNumeric .typeIcon    { background-position: 0 -64px; }
.inputDate .typeIcon       { background-position: 0 -128px; }
.inputLocation .typeIcon   { background-position: 0 -192px; }
.inputMedia .typeIcon      { background-position: 0 -256px; }
.inputSelectOne .typeIcon  { background-position: 0 -320px; }
.inputSelectMany .typeIcon { background-position: 0 -384px; }
.inputBarcode .typeIcon    { background-position: 0 -576px; }

.collapsed .control .controlInfo .typeIcon
{
    background-image: url(/media/images/type_icons_small.png?1);
    height: 24px;
    width: 24px;
}
.collapsed .group .typeIcon           { background-position: 0 -168px; }
.collapsed .branch .typeIcon          { background-position: 0 -192px; }
.collapsed .inputText .typeIcon       { background-position: 0 0px; }
.collapsed .inputNumeric .typeIcon    { background-position: 0 -24px; }
.collapsed .inputDate .typeIcon       { background-position: 0 -48px; }
.collapsed .inputLocation .typeIcon   { background-position: 0 -72px; }
.collapsed .inputMedia .typeIcon      { background-position: 0 -96px; }
.collapsed .inputSelectOne .typeIcon  { background-position: 0 -120px; }
.collapsed .inputSelectMany .typeIcon { background-position: 0 -144px; }
.collapsed .inputBarcode .typeIcon    { background-position: 0 -216px; }

.selected {
    left: 0px;
}

.content_wrapper {
    padding: 0px;
}