{% extends 'project/tab_navigation.html' %}
{% load i18n %}
{% block page_title %} {% trans "Forms - Overview"%} {% endblock %}

{% load dw_tabs %}
{% block navigation %}
{% activetab "tab_nav" "overview" %}
{{ block.super }}
{% endblock %}

{% block body %}
{% activetab "main_nav" "questionnaires" %}
{{ block.super }}
{% endblock %}

{% block page_scss %}
    {{ block.super }}
    <link href="/media/css/scss/section_new_overview.css" rel="stylesheet" />
    <link href="/media/css/scss/section_new_create_project.css" rel="stylesheet" />
    <link href="/media/css/scss/section_questionnaire_preview.css" rel="stylesheet" />
    <link href="/media/css/scss/section_application.css" rel="stylesheet"/>
    <style type="text/css">
    .overview-panel {
        border-top: 5px solid orange;
        padding: 20px;
        margin-left: 15px;
        background: rgb(232, 232, 232);
        color: #603E27;
    }
    .overview-panel-img {
        width: 50px;
        opacity: 0.5;
    }
    .spacer1 {
        height: 1em;
    }
    .spacer {
        height: 9em;
    }
    a.overview {
        color: #666666;
    }
    div.overview-panel:hover{
        background: rgb(200, 200, 200);
    }
    </style>
{% endblock %}

{% block content %}
        <div class="spacer1"></div>
        <a class="overview" href="{{ project_links.questionnaire_link }}">
            <div class="grid_10 overview-panel">
                <div class="grid_2">
                    <img class="overview-panel-img" src="/media/images/pencil-po.png" alt=""/>
                </div>
                <div>
                    <h3>Manage Form</h3>
                    To change the fields to Form
                </div>
            </div>
        </a>
        <a class="overview" href="{{ project_links.correlate_link }}">
            <div class="grid_10 overview-panel">
                <div class="grid_2">
                    <img class="overview-panel-img" src="/media/images/book-po.png" alt=""/>
                </div>
                <div>
                    <h3>Correlate</h3>
                    Correlate Forms to refer existing data
                </div>
            </div>
        </a>

        <div class="spacer"></div>
        <a class="overview" href="{{ project_links.registered_datasenders_link }}">
            <div class="grid_10 overview-panel">
                <div class="grid_2">
                    <img class="overview-panel-img" src="/media/images/user-po.png" alt=""/>
                </div>
                <div>
                    <h3>Assigned Users</h3>
                    Manage Assigned Users of this Form
                </div>
            </div>
        </a>
        <a class="overview" href="{{ project_links.data_analysis_link }}">
            <div class="grid_10 overview-panel">
                <div class="grid_2">
                    <img class="overview-panel-img" src="/media/images/cal-po.png" alt=""/>
                </div>
                <div>
                    <h3>Analysis</h3>
                    Analyse Submitted Multi/Single Choice Data
                </div>
            </div>
        </a>

        <div class="spacer"></div>
        <a class="overview" href="{{ project_links.submission_log_link }}">
            <div class="grid_10 overview-panel">
                <div class="grid_2">
                    <img class="overview-panel-img" src="/media/images/cal-po-1.png" alt=""/>
                </div>
                <div>
                    <h3>Data Log</h3>
                    View/Change Submitted Data
                </div>
            </div>
        </a>
        <a class="overview" href="{{ project_links.test_questionnaire_link }}">
            <div class="grid_10 overview-panel">
                <div class="grid_2">
                    <img class="overview-panel-img" src="/media/images/submit-po.png" alt=""/>
                </div>
                <div>
                    <h3>Submit Data</h3>
                    Submit Data for this Form
                </div>
            </div>
        </a>
{% endblock %}